$lg: #40CB8B
$dg: #218C5B
$cyan: #32D8C9
$leaf: #BFFF00
$grass: #23C239
$fg: #449A58

.helper
    position: absolute
    top: 20%
    left:10%

@media (max-width: 600px )
    .container
        display: flex !important
        flex-direction: column
        justify-content: center
        background-color: red

    .item-c
        display: none

.container 
    display: grid
    // grid-template-columns: repeat(auto-fit, minmax(400px, 2fr))
    grid-template-columns:1fr 1fr
    grid-template-rows: 1fr 1fr 
    // grid-auto-flow: columns
    // width: 800px
    // height: 600px
    


    
.item-a         
    height: 300px
    width: 400px
    background-color: #ffbfbf

.item-b
    height: 300px
    width: 400px
    background-color: #cfffc8


.item-c
    height: 300px
    width: 400px
    background-color: #a1a1ff


#button
    position: absolute
    left: 15%

#forward, #back
    border-radius: 50%

radios